{{outlet}}

<h1>Section {{section}}</h1>

{{#md-tabs selected=section}}
  {{md-tab value='overview' title="Overview"}}
  {{md-tab value='network' title="Network"}}
  {{md-tab value='users' title="Users"}}
{{/md-tabs}}